<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
  
    <body>
        <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <!-- display data -->
        <div class="row" id="news">
            <div class="col-md-12">
                <h2 class="heading">Latest News:</h2>
                <h3 class='heading'>{{ news_title }}</h3>
                <p>
                    {{news_p}}
                </p>
            </div>
        </div>
        <div class="row" id="mars-info">
            <div class="col-md-8">
                <h2 class="heading">Featured Image:</h2>
                <img src="{{ featured_img }}" alt="Mars Image">
            </div>
            <div class="col-md-4">
                <h2 class="heading">Mars Facts:</h2>
                {{ facts|safe }}
            </div>
        </div>
        <div class="row" id="hemispheres">
            <h2 class="heading">Mars Hemispheres</h2>
            
            {% for hem in hems %}

            <div class="col-md-3">
                <div class="card text-center" style="width: 18rem;">
                    <img class="card-img-top" src={{ hem["img_url"] }} width = 200 alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ hem["title"] }}</h5>
                    </div>
                    </div>
            </div>
      
            {% endfor %}
        </div>
        
    </body>
</html>
